.div{
    border: 2px solid red;
    width: 32%;
    height: 40px;
    display: inline-block;
}

#aa{
    background-color: red;
}

#bb{
    background-color: blue;
}

#cc{
    background-color: green;
}