div{
    width: 120px;
    height: 120px;
}

.lineare-simple{
    background: linear-gradient(blue, yellow);
}

.degrade-horizontale{
    background: linear-gradient(to right, blue, yellow);
}

.degrade-espacement-auto{
    background: linear-gradient(red, yellow, blue);
}

